@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DM Sans';
  src: url(/src/assets/fonts/static/DMSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'DM Sans';
  src: url(/src/assets/fonts/static/DMSans-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'DM Sans Italic';
  src: url(/src/assets/fonts/static/DMSans-MediumItalic.ttf);
  font-style: italic;
}